// UZH's color palette
$uzh-blue: #0028A5
$blue-1: #BDC9E8
$blue-2: #7596FF
$blue-3: #3062FF
$blue-4: #001E7C
$blue-5: #001452
$uzh-cyan: #4AC9E3
$cyan-1: #DBF4F9
$cyan-2: #B7E9F4
$cyan-3: #92DFEE
$cyan-4: #1EA7C4
$cyan-5: #147082
$uzh-apple: #A4D233
$uzh-gold: #FFC845
$uzh-orange: #FC4C02
$uzh-berry: #BF0D3E
$uzh-black: #000000
$grey-1: #C2C2C2
$light-grey-1: #FAFAFA

// Application's color palette
$text: white
$background: #100c08 // smokey black
