$text-color: white

.aboutTitle
  color: $text-color
  text-align: justify
  text-align-last: left

.aboutSubtitle
  color: grey

.aboutParagraph
  color: $text-color
  text-align: justify
  text-align-last: left
  hyphens: auto