$text-color: white

.about-title
  color: $text-color
  text-align: justify
  text-align-last: left

.about-subtitle
  color: grey

.about-p
  color: $text-color
  text-align: justify
  text-align-last: left
  hyphens: auto