@use "../../styles/colorpalette" as colors

$tab-bg: colors.$uzh-gold
$active-bg: colors.$uzh-gold
$text-color: white
$background-color: colors.$uzh-blue

.site-header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px 20px 0 20px
  background: $background-color
  border-bottom: 1px solid #e6e6e6

.brand
  background: $background-color
  display: flex
  align-items: center

.nav-logo
  background: $background-color
  height: 40px
  width: auto

.nav-title
  background: $background-color
  color: $text-color
  font-weight: 700
  font-size: 18px

.wrapper.header-tabs
  background: $background-color
  flex: 1
  display: flex
  justify-content: end

ul.tabs
  background: $background-color
  width: 80%
  margin: 0
  list-style: none
  overflow: hidden
  padding: 0
  display: flex
  align-items: flex-end

ul.tabs li
  background: $background-color
  flex: auto
  text-align: center

.tabs li:first-child a.switch
  border-top-left-radius: 8px

.tabs li:last-child a.switch
  -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3)
  -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3)
  box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3)
  border-top-right-radius: 8px

a.switch
  background: colors.$uzh-gold
  color: black
  display: block
  cursor: pointer
  text-decoration: none
  padding: 10px
  font-size: 18px

  opacity: 0.8
  transition: padding 0.2s ease, margin 0.2s ease
  border: 2px solid black
  border-bottom: 0

a.switch:hover
  opacity: 0.9
  padding-top: 15px

a.switch.activeTab
  opacity: 1
  background: colors.$uzh-gold
  color: black
  border: 2px solid black
  border-bottom: 0
  padding-top: 20px
  font-weight: bold
