@use "../../../styles/colorpalette" as colors

.mapModeFieldset
  border: none
  display: flex
  flex-direction: column

.mapMode
  display: inline-flex
  align-items: center
  padding: 10px
  border-radius: 8px
  gap: 6px
  background: transparent
  color: colors.$light-grey-1
  cursor: pointer
  user-select: none
  transition: background .12s, color .12s

  input[type="radio"]
    position: absolute
    opacity: 0
    width: 0
    height: 0
    pointer-events: none

  &:before
    content: ""
    display: inline-block
    width: 16px
    height: 16px
    border-radius: 50%
    border: 2px solid colors.$light-grey-1
    box-sizing: border-box

  &:has(input[type="radio"]:checked)
    background: rgba(255,200,69,0.06)
    color: colors.$uzh-gold
    &:before
      background: colors.$uzh-gold
      border-color: white

.mapImage
  max-width: 100%
  width: 100%
  height: auto
  border-radius: 8px

  @media (max-width: 479px)
    border-radius: 6px

  @media (min-width: 480px) and (max-width: 1023px)
    width: 90%

  @media (min-width: 1024px)
    width: auto
    max-width: 900px