@use "styles/colorpalette" as *
@use "styles/gaps" as *

h1
  margin-bottom: 1rem
  border-bottom: 1px solid white

h2
  margin-top: 1rem
  margin-bottom: 1rem

.content-section
  padding-left: $padding
  padding-right: $padding
  color: $text-color
  margin: $margin * 0.75 $margin $margin