@use "styles/colorpalette" as colors
@use "styles/gaps" as gaps

h1
  margin-bottom: 1rem
  border-bottom: 1px solid white

h2
  margin-top: 1rem
  margin-bottom: 1rem

.content-section
  padding: gaps.$padding
  color: colors.$text
  margin: gaps.$margin